*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;

}

a{
    text-decoration: none;
}

.container{
    width: 70%;
    margin: 50px auto;
}

img{
    width: 100px;
    float: left;
    margin-right: 10px;
}

.row::after{
    content: "";
    display: table;
    clear: both;   
}

/* header */

h1{
    text-align: center; 
    font-weight: bolder;  
    color: #E53170;
    margin-bottom: 20px;
}

/* introduzione al team */
.intro{
    text-align: center;
    margin-bottom: 50px;
}

/* main */

.row{
    margin-bottom: 50px;
}

.col{
    background-color: #0F0E17;
    color: white;    
    float: left;
    margin: 0 10px;
    width: calc( (100%/3) - 20px);
}



